<nav class="p-3 mb-3 fixed-top" style="background-color: gray;">
  <div class="container-fluid">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a routerLink="/" class="d-flex align-items-center col-lg-4 mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
        Application
        <i class="bi bi-house"></i>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li *ngIf="isAdmin || isMod">
          <a class="nav-link px-2 link-body-emphasis" routerLink="/usuario">Usuarios <i class="bi bi-person"></i></a>
        </li>
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
      </form>

      <div *ngIf="isLogged" class="dropdown text-end">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
          aria-expanded="false">
          {{usuarioLogged!.firstname}} {{usuarioLogged!.lastname}} <i class="bi bi-person-check"></i>
        </a>
        <ul class="dropdown-menu text-small" style="background-color: gray;">
          <li><a class="dropdown-item" routerLink="/usuario/changepass">Cambiar mi clave <i class="bi bi-person-gear"></i></a></li>
          <li><a class="dropdown-item" routerLink="/usuario/myprofile">Perfil <i class="bi bi-person-circle"></i></a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" (click)="logout()">Cerrar sesión <i class="bi bi-box-arrow-in-right"></i></a></li>
        </ul>
      </div>
      <div *ngIf="!isLogged" class="text-end">
        <a type="button" class="btn btn-outline-light me-2" routerLink="/login">Inicia sesión <i class="bi bi-box-arrow-in-left"></i></a>
        <a type="button" class="btn btn-warning" routerLink="/register">Registrate <i class="bi bi-pencil-square"></i></a>
      </div>
    </div>
  </div>
</nav>